.calendar {
  border-collapse: collapse;
  background-size: cover;
  position: relative;
  color: #efe0e0;
  background-color: #696169;
  margin-top: 10px;
  margin-bottom: 20px;
}

.emptyDiv {
  width: 700px;
}

.calendar td,
.calendar th {
  border: 1px solid #d9d9d9;
}

.calendar td.weekName {
  background-color: #9c7872;
}

/* .calendar th {
  background-color: #e5edff;
} */

.calendar td.days {
  height: 80px;
  vertical-align: top;
  width: 100px;
}

.calendar td.days div {
  width: 100px;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.calendar td.days div.schedule_title {
  font-size: 0.8em;
}

.calendar td.days div.schedule_title:hover {
  cursor: pointer;
}

.arrow_img {
  width: 15px;
  height: 15px;
  margin: 0 20px;
}

.month_name {
  font-size: 25px;
  vertical-align: middle;
}

.today .dayText {
  /* background-color: #cecfff; */
}

.not_thisMonth {
  color: #ababab;
}

.datepicker_div input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-content {
  width: 510px !important;
  height: auto;
}

#endTime_separator,
#startTime_separator {
  text-align: center;
}

#memo_area {
  resize: none;
}

.allday_display {
  display: inline-block;
}

.btn {
  margin-left: 10px;
}

.backgroundImg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.backgroundImg img {
  width: 100px;
  height: 100px;
}

#imageList {
  background-color: #ffffff;
  border: none;
}

body {
  margin: 0;
  padding: 0;
}
.imageList {
  width: 237px;
}
