.calendar {
  width: 80%;
  border-collapse: collapse;
}
.calendar td,
.calendar th {
  border: 1px solid #d9d9d9;
}

.calendar th {
  background-color: #f9d2e0;
}

.calendar td.days {
  height: 66px;
  vertical-align: top;
}
